# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next
out
next-env.d.ts

# env (JANGAN pernah commit)
.env
.env.*
!.env.local.example

# build / misc
*.tsbuildinfo
.vercel
.DS_Store
npm-debug.log*
